{% extends 'core/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">
  <h1 class='d-flex justify-content-center'>{{title}}</h1>
  <div class='d-flex flex-wrap justify-content-center gap-4'>
  {% for movie in movies %}
    <a href='{% url "movie_detail" movie_id=movie.id %}' class='text-decoration-none text-light p-0 m-0 d-block'>
      <div class="card mb-3" style="max-width: 540px;">
          <div class=" d-flex align-items-start">
          <img src="{{movie.poster.url}}" class="img-fluid rounded-start" alt="..." style='width: 450px'>
          
          <div class="card-body">
            <div class='d-flex flex-column justify-content-around'>
              <h5 class="card-title">{{movie.title}}</h5>
              <p>рейтинг: <span>{{movie.rating}}</span></p>
              <ul>
                {% for gener in movie.genres.all %}
                  {% if forloop.counter <= 4 %}
                    <li>
                      <a href="#" class='text-light text-decoration-none'>{{gener.name}}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <span class="text-secondary"><small>{{movie.release_date}}</small></span>
          </div>
      </div>
    </div>
    </a>
  {% endfor %}
  </div>
</div>
{% endblock %}
